streamlit
langchain_community==0.2.11
langchain-groq==0.1.9
langchain_chroma==0.1.2
langchain==0.2.12
python-dotenv== 1.0.1
langchain-huggingface==0.0.3
PyPDF2==3.0.1
pypdf==4.3.1
protobuf==4.25.4
opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0
